/* Cores do tema

cor 		rgb			hex

azul		47 45 118		2F2D76
verde		102 182 69		66B645
cinza		202 207 199		CACFC7

*/

/* Removendo espaçamentos e padronizando bordas */
*{  
    padding:0;
    margin:0;
    border-width: 2px;
}

/* oculta barra de rolagem */


::-webkit-scrollbar { 
    display: none; 
}

/* Definindo fontes personalizadas */
@font-face
{
    font-family: digital;
    src: url(fonts/DS-DIGII.ttf);
}

@font-face
{
    font-family: kgempireofdirt;
    src: url(fonts/KGEmpireofDirt.ttf);
}

@font-face
{
    font-family: contm;
    src: url(fonts/contm.ttf);
}

/* Estilo do Menu */
#menu{
    position: absolute;
    height: 8%;
    width: 100%;
    background-color: #F2F2F2;
    font-family: contm;
    font-size: 90%;
    color: #000000;
    border-bottom-style: solid;
}

/* Estilo da lista com os links no menu */
#menu ul{
    top: 30%;
    left: 10%;
    width: 80%;
    position: relative;
    text-align: center;
}

#menu li{
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    border-left-style: solid;
}

#menu a {
    text-decoration: none;
}

#menu .nav:hover {
    color: #66B645;
    cursor: pointer;
}


/* Estilo da logo no topo do site */

.logo{
    position: relative;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 12%;
    float: left;
    text-align: center;
}

.logo img{
    position: relative;
    height: 100%;
    width: 100%;
}
/* Fonte do contador */	
#contador{
    left: 15%;
    font-family: digital;
    position: absolute;
    height: auto;
    width: 10%;
    background-color: #FFFFFF;
    opacity: 0.8;
    font-size: 150%;
    color: #2F2D76;
    font-weight: bold;
}

/* Estilo do container que exibe o conteúdo */
.content{
    position: absolute;
    top: 8%;
    height: 92%;
    width: 100%;
    background-color: #FFFFFF;
}

#content-frame{
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    position: relative;
    opacity: 0.9;
    border-style: none;
}
/* Estilo dos containers de conteudo */

.content-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-box #left-box{
    position: absolute;
    width: 40%;
    height: 100%;
}

.content-box #right-box{
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
}

.content-box .title{
    position: relative;
    text-align: center;
    font-family: kgempireofdirt;
    font-size: 200%;
}

.content-box .text{
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    font-family: contm;
    font-size: 90%;
    text-align: justify;
}

.content-box img{
    position: relative;
    top: 15%;
    width: 100%;
    height: 70%;
}

.content-box iframe{
    position: relative;
    width: 100%;
    height: 100%;
    border-style: none;
}
/* Estilo do formulario de contato */

.formulario{
    font-family: contm;
    position: relative;
    height: auto;
    left: 10%;
    top: 10%;
    width: 80%;
    text-align: center;
}

.btn-contato-enviar, .btn-contato-reset{
    min-width: 15%;
    padding: 3%;
    font-family: kgempireofdirt;
    font-size: 100%;
}

.btn-contato-enviar:hover, .btn-contato-reset:hover{
    background-color: #66B645;
    color: #FFFFFF;
    cursor: pointer;
}

.formulario textarea, .formulario input{
    position: relative;
    max-width: 90%;
}

/** Adequação de estilo para resoluções menores **/

/* Telas com até 320 px de largura */
@media screen and (max-width: 320px){
/* Estilo do menu*/
#menu{
    font-size: 50%;
}

/* Estilo do frame de conteudo */
.content-box .text{
    font-size: 40%;
}

}


